@use "./ButtonTheme";

.btn {
  display: flex;
  margin: 0 0.5em;
  padding: 0 1.1em;
  border-radius: 2em;
  font-size: 1em;
  font-weight: 400;
  cursor: pointer;
  transition: all 250ms ease-out;
  span {
    display: block;
    margin-right: 0.5em;
    height: 100%;
    background-size: auto 20px;
    background-position: center;
    background-repeat: no-repeat;
  }
}
.btn:hover {
  transform: scale(110%);
}
.btn--normal {
  position: relative;
  display: flex;
  align-items: center;
  height: 2.5rem;
  margin-right: 1.2em;
  padding: 0 1.1em;
  border-radius: 2em;
  font-weight: 400;
  font-size: 1em;
  border: 1px solid rgb(155, 0, 10);
  cursor: pointer;
  span:first-child {
    width: 28px;
    height: 100%;
    background-size: 28px auto;
  }
  span:last-child {
    position: relative;
    top: -1px;
    display: flex;
    align-items: center;
    width: auto;
  }
}
.btn--normal:hover {
  box-shadow: 0px 0px 18px rgb(155, 0, 10);
}
.btn--medium {
  position: relative;
  height: 1.9rem;
  margin-right: 1.2em;
  padding: 0 1.1em;
  border-radius: 2em;
  font-weight: 300;
  font-size: 1em;
  border: 1px solid rgb(155, 0, 10);
  cursor: pointer;
  span:first-child {
    width: 20px;
    height: 100%;
    background-size: 20px auto;
  }
  span:last-child {
    position: relative;
    top: -1px;
    display: flex;
    align-items: center;
    width: auto;
  }
}
.btn--medium:hover {
  box-shadow: 0px 0px 18px rgb(155, 0, 10);
}
.btn--label {
  position: relative;
  height: 1.2rem;
  margin-right: 0.1em;
  padding: 0 0.7em;
  border-radius: 2em;
  font-weight: 300;
  font-size: 0.9rem;
  letter-spacing: 0.03em;
  cursor: pointer;
  span:first-child {
    width: 14px;
    height: 100%;
    background-size: 14px auto;
  }
  span:last-child {
    position: relative;
    top: -1px;
    display: flex;
    align-items: center;
    width: auto;
    text-shadow: -1px 1px 3px #000;
  }
}
.btn--label:hover {
  transform: scale(100%);
}

$gradient-start: var(--color--btn--gradient--shadow-start);
$gradient-end: var(--color--btn--gradient--shadow-end);

.button-shadow-gradient {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color--btn--gradient--background);
  color: #fff;
  font-weight: bold;
  border: 0px;
  min-width: max-content;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px #d1d5db, 0 0 0 4px #f3f4f6;
  }

  .gradient-overlay {
    position: absolute;
    inset: -0.125rem;
    z-index: 0;
    border-radius: inherit;
    background: linear-gradient(to bottom, $gradient-start, $gradient-end);
    opacity: 0.75;
    filter: blur(5px);
  }
}
.button-shadow-gradient:hover {
  box-shadow: none;
}

//Etiquetas
.react {
  background-color: rgb(4, 128, 153);
}
.vite {
  background: linear-gradient(to right, #297c9c, #701e96);
}
.sass {
  background-color: #7c385b;
}

@media screen and (max-width: 800px) {
  .section__body {
    .section__btns {
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  }

  .button-shadow-gradient {
    margin-top: 1.2em;
  }
}

@media screen and (max-width: 760px) {
  .section__body {
    .section__btns {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  .button-shadow-gradient {
    margin-top: 0em;
  }
}

@media screen and (max-width: 645px) {
  .button-shadow-gradient {
    margin-top: 1.2em;
  }
}
