.btn,
.btn--medium {
  background-color: var(--color--primary);
  color: var(--color--neutro--white--opaque);
}
.btn span {
  color: var(--color--neutro--black);
}
.btn--label span {
  color: var(--color--btn);
}
.btn--medium span {
  color: var(--color--btn);
}
.button-shadow-gradient span {
  color: var(--color--neutro--black);
}
.button-shadow-gradient span {
  text-shadow: -1px 1px 3px var(--color--btn--gradient--fontShadow);
}
.btn--normal span {
  color: var(--color--btn);
}

// @media (prefers-color-scheme: light) {
//   .btn span {
//     color: var(--color--neutro--white);
//   }
//   .btn--medium a {
//     color: var(--color--neutro--black);
//   }
//   .btn--label a {
//     color: var(--color--neutro--black);
//   }
//   .btn--normal a {
//     color: var(--color--neutro--black);
//   }
//   .button-shadow-gradient a {
//     text-shadow: -1px 1px 3px var(--color--btn--gradient--fontShadow);
//   }
// }
