@use "./ButtonTheme";

.btn {
  margin: 0 0.5em;
  padding: 0 1.1em;
  border-radius: 2em;
  font-size: 1em;
  font-weight: 400;
  cursor: pointer;
  transition: all 250ms ease-out;
}
.btn:hover {
  transform: scale(110%);
}
.btn--normal {
  position: relative;
  height: 2.5rem;
  margin-right: 1.2em;
  padding: 0 1.1em;
  border-radius: 2em;
  font-weight: 400;
  font-size: 1em;
  border: 1px solid rgb(155, 0, 10);
  cursor: pointer;
  a {
    position: relative;
    top: 40%;
    display: block;
    height: 100%;
    line-height: 5px;
  }
}
.btn--normal:hover {
  box-shadow: 0px 0px 18px rgb(155, 0, 10);
}
.btn--medium {
  position: relative;
  height: 1.9rem;
  margin-right: 1.2em;
  padding: 0 1.1em;
  border-radius: 2em;
  font-weight: 300;
  font-size: 0.88em;
  border: 1px solid rgb(155, 0, 10);
  cursor: pointer;
  a {
    position: relative;
    top: 40%;
    display: block;
    height: 100%;
    line-height: 5px;
  }
}
.btn--medium:hover {
  box-shadow: 0px 0px 18px rgb(155, 0, 10);
}
.btn--label {
  position: relative;
  height: 1.2rem;
  margin-right: 0.1em;
  padding: 0 1.1em;
  border-radius: 2em;
  font-weight: 100;
  font-size: 0.9rem;
  letter-spacing: 0.03em;
  cursor: pointer;
  a {
    position: relative;
    top: 7px;
    display: block;
    height: 100%;
    line-height: 5px;
  }
}
.btn--label:hover {
  transform: scale(100%);
}

$gradient-start: #eef1ff;
$gradient-end: #eef1ff;

.button-shadow-gradient {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: #18181b;
  font-weight: bold;
  border: 0px;

  // Focus styles (optional)
  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px #d1d5db, 0 0 0 4px #f3f4f6;
  }

  // Gradient overlay
  .gradient-overlay {
    position: absolute;
    inset: -0.125rem; // Equivalent to -inset-0.5
    z-index: 0;
    border-radius: inherit; // Inherit border-radius from the parent button
    background: linear-gradient(to bottom, $gradient-start, $gradient-end);
    opacity: 0.75;
    filter: blur(5px);
  }
}
.button-shadow-gradient:hover {
  box-shadow: none;
}
