.main {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0 1.2em;
}
.main__content {
  width: 950px;
  height: inherit;
}

@media screen and (max-width: 760px) {
  .main {
    padding: 0;
  }
}
