@use "./sobreMiTheme";

.about__wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.about__content {
  padding: 0 2.5em 0 0;
  max-width: 600px;
  p {
    font-weight: 300;
    padding-bottom: 1em;
    stroke: blue;
  }
}
.about__title {
  display: flex;
  margin-bottom: 1em;
  color: var(--color--neutro--white);
  span {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-size: auto 40px;
    background-repeat: no-repeat;
    background-position: center;
  }
  h2 {
    margin-left: 0.5em;
  }
}

.about__img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 100%;
  max-width: 250px;
  margin: 0 auto;
  img {
    border-radius: 50%;
  }
}

@media screen and (max-width: 760px) {
  .about__wrapper {
    flex-wrap: wrap;
    padding: 0 1.8em;
    justify-content: center;
    height: fit-content;
  }
  .about__content {
    width: 100%;
    p {
      padding-bottom: 1em;
    }
  }
  .about__img {
    margin-top: 1.2em;
    width: 60%;
    max-width: 300px;
  }
}
