@use "nbtheme";

:root {
  --navbar-h: 45px;
}

body {
  padding-top: var(--navbar-h);
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  height: var(--navbar-h);
}
.navbar__ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 0 22px;
  width: fit-content;
  height: inherit;
}
.navbar__li {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 0 10px;
  height: inherit;
  a {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    height: 100%;
    cursor: pointer;
    transition: all 250ms ease-out;
  }
}
