// Blur de NavBar si se es compatible
@supports (backdrop-filter: blur(20px) contrast(180%)) or
  (-webkit-backdrop-filter: blur(20px) contrast(180%)) {
  .navbar {
    backdrop-filter: blur(15px) contrast(90%);
    -webkit-backdrop-filter: blur(20px);
  }
}

html {
  background-color: var(--color--neutro--black);
}
.navbar {
  background-color: var(--color--transparent);
  color: var(--color--neutro--white--opaque);
}
.navbar__li a:hover {
  color: var(--color--neutro--white);
}
