.footer {
  display: flex;
  justify-content: center;
  width: 100%;
}
.footer__content {
  width: 80%;
  margin: 1em 0;
  color: var(--color--neutro--white--opaque);
  p {
    font-weight: 100;
    font-size: 0.88em;
    text-align: center;
    a:hover {
      text-decoration: underline;
    }
  }
}
